# Auto detect text files and perform LF normalization
* text=auto

# Custom for Visual Studio
*.cs     diff=csharp

# Standard to msysgit
*.doc	 diff=astextplain
*.DOC	 diff=astextplain
*.docx diff=astextplain
*.DOCX diff=astextplain
*.dot  diff=astextplain
*.DOT  diff=astextplain
*.pdf  diff=astextplain
*.PDF	 diff=astextplain
*.rtf	 diff=astextplain
*.RTF	 diff=astextplain
<img src=http://vignette4.wikia.nocookie.net/naruto/images/3/36/Jinj%C5%AB_Kong%C5%8D_Henge_Sant%C5%8Dr%C5%8D.png/revision/latest?cb=20140821160958>
https://img.ifcdn.com/images/0fc7c0d4bc575a27abdd55b8c1e79396d004c08375745a03608ebca86559add2_1.jpg
