h1{text-align: center;}

body {
    background-image: url('https://lh3.googleusercontent.com/EMYKAY53HWRns2nOJI5hrL9etSCJjXhpRly7BltlxTGSechS795khcrMz1gO1e9aEMevbiW0');
    background-repeat: repeat;;
    background-attachment: fixed;
    background-position: center;
  }
p{text-align: center;}
